# Module names are ordered alphabetically
# Required packages are ordered alphabetically within each module

# Global
pytest

# camera
opencv-python
numpy

# mavlink
dronekit

# qr
pyzbar

# kml
simplekml

# Linters and formatters are explicitly versioned
black==24.2.0
flake8-annotations==3.0.1
pylint==3.0.3
