# Module names are ordered alphabetically
# Required packages are ordered alphabetically within each module

# Global
pytest

# camera
opencv-python
numpy

# comms
libscrc
pyserial

# mavlink
dronekit

# qr
pyzbar
