# Module names are ordered alphabetically
# Required packages are ordered alphabetically within each module

# Global
pytest

# Module camera
opencv-python
numpy

# Module lte
Pillow

# Module mavlink


# Module qr
pyzbar

# Module kml
simplekml

# Linters and formatters are explicitly versioned
black==24.2.0
flake8-annotations==3.0.1
pylint==3.0.3
