# This workflow will install Python dependencies and run tests with PyTest using Python 3.11
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Run tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout repository
      - name: Checkout code
        uses: actions/checkout@v3

      # Set Python version
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      # Set up submodules
      - name: Set up all submodules and project dependencies
        run: |
          git submodule update --init --recursive --remote

      # Install project dependencies
      - name: Install project dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # Install zbar library to resolve pyzbar import error
      - name: Install zbar library
        run: sudo apt-get install libzbar0

      # Run linters and formatters
      - name: Linters and formatters
        run: |
          black --check .
          flake8 .
          pylint .

      # Install dependencies and run tests with PyTest
      - name: Run PyTest
        run: pytest -vv
